.products {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.product__header {
  font-size: 31px;
  line-height: 140%;
  text-align: center;
  color: #180202;
}

.product__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #180202;
  opacity: 0.7;
}

.products__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.product__wrapper--second {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product__wrapper--first,
.product__wrapper--third {
  display: none;
}

.product__bg {
  width: 332px;
  height: 332px;
  position: absolute;
  margin-left: -270px;
  z-index: -1;
}

.product__img--second {
  width: 227px;
  height: 306px;
}

.product__rating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 280px;
  padding-top: 30px;
}

.product__stars {
  display: flex;
  max-width: 280px;
  padding-right: 40px;
  align-items: flex-start;
  list-style: none;
}

.product__stars li:not(:last-child) {
  margin-right: 8px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .products {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .product__wrapper--first,
  .product__wrapper--third {
    display: inline;
  }

  .product__img--third {
    width: 268px;
    height: 366px;
    margin-top: -50px;
  }

  .product__img--first {
    width: 256px;
    height: 358px;
    margin-top: -40px;
  }

  .product__img--second {
    width: 262px;
    height: 354px;
    margin-top: -40px;
  }

  .product__header {
    font-size: 44px;
    line-height: 130%;
  }

  .product__description {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
