.pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
}

.pack__img {
  width: 308px;
  height: 268px;
}

.pack__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pack__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 55px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  opacity: 0.7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pack__item::before {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../../../assets/icons/arrow-in-circle.svg") no-repeat center;
}

.pack__header {
  text-align: start;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
}

@media screen and (min-width: 768px) {
  .pack {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    justify-content: space-between;
  }

  .pack__wrapper {
    display: flex;
    flex-direction: column;
  }

  .pack__header {
    margin-bottom: 40px;
    font-size: 44px;
  }

  .pack__img {
    width: 600px;
    height: 500px;
  }
}
