.feature {
  width: 960px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__header {
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 96px;
  line-height: 144px;
  font-weight: 400;
}

.feature__list {
  width: 780px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 5%;
  padding-left: 0;
  list-style: none;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 36px;
}
