.page-header {
  display: flex;
  align-items: center;
  padding-top: 45px;
  font-size: 32px;
  line-height: 48px;
}

.page-header a {
  margin-right: 10px;
  color: var(--color-white);
  text-decoration: none;
}

.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 100px;
  background-image: url("../../assets/icons/logo.svg");
  background-repeat: no-repeat;
}

.page-nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.page-nav__item:not(:last-child) {
  margin-right: 60px;
}
