.landing {
  width: 830px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 110px;
  line-height: 165px;
  font-weight: 300;
}

.landing__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 51px;
}
