@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap");

html {
  font-family: Dosis, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #404040;
  background: white;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 17px;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(212, 212, 212, 0.58);
}

.page-header .page-nav,
.page-header .page-header__btn {
  display: none;
}

.page-logo {
  display: block;
  width: 29px;
  height: 25px;
}

.page-logo svg {
  width: 100%;
  height: 100%;
}

.burger {
  background: transparent;
  border: none;
}

.page-main {
  padding: 19px 17px 0 17px;
}

.hero {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hero__header {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 43px;
  color: #302b3a;
  text-align: center;
}

.hero__header em {
  font-style: normal;
  color: #ada7ff;
}

.hero__description {
  width: 350px;
  margin: 0 auto 35px auto;
}

.hero__wrapper {
  display: flex;
  margin-bottom: 35px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 10px;
  width: 109px;
  background: #ada7ff;
  border-radius: 999px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.btn--white {
  margin-left: 20px;
  padding: 0;
  color: #ada7ff;
  background-color: #fff;
}

.hero__stats {
  display: flex;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.hero__item {
  display: flex;
  flex-direction: column;
}

.hero__item:not(:last-child) {
  margin-right: 30px;
}

.hero__amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #302b3a;
}

.hero__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #686868;
}

.hero__image {
  position: relative;
  height: 408px;
}

.hero__dog-print {
  position: absolute;
  top: 0;
  left: 0;
}

.hero__back1 {
  position: absolute;
  right: 0;
  top: 0;
}

.hero__dog {
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 10;
}

.hero__back2 {
  position: absolute;
  left: 0;
  bottom: 8px;
}

.hero__cat {
  position: absolute;
  left: 0;
  bottom: -20px;
  z-index: 10;
}

.hero__cat-print {
  position: absolute;
  bottom: 8px;
  right: 0;
}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }

  .page-header .page-nav,
  .page-header .page-header__btn {
    display: flex;
  }

  .page-header {
    align-items: center;
    padding: 50px 50px;
  }

  .page-logo {
    width: 56px;
    height: 50px;
  }

  .page-nav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .page-nav__item:not(:last-child) {
    margin-right: 25px;
  }

  .page-nav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
  }

  .page-nav__link.active {
    color: #9a93ff;
  }

  .page-header__btn {
    width: 146px;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 23px;
  }

  .page-main {
    padding: 60px 50px 90px 50px;
  }

  .hero {
    position: relative;
    display: flex;
    margin: 0;
    max-width: 1171px;
  }

  .hero__content {
    margin-top: 90px;
  }

  .hero__header {
    font-weight: 700;
    font-size: 69px;
    line-height: 87px;
    text-align: left;
  }

  .hero__description {
    width: 625px;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    line-height: 23px;
  }

  .btn {
    width: 172px;
    font-size: 18px;
    line-height: 23px;
  }

  .icon-footprint {
    width: 17px;
    height: 19px;
  }

  .icon-video {
    width: 55px;
    height: 55px;
  }

  .hero__wrapper {
    margin-bottom: 60px;
  }

  .hero__item:not(:last-child) {
    margin-right: 65px;
  }

  .hero__amount {
    font-size: 43px;
    line-height: 54px;
  }

  .hero__name {
    font-size: 18px;
    line-height: 23px;
  }

  .hero__image {
    position: absolute;
    right: 0;
    width: 50%;
    max-width: 566px;
    height: 675px;
  }
}

@media screen and (min-width: 1000px) {
  .page-header {
    padding: 50px 135px;
  }

  .page-main {
    padding: 60px 135px 90px 135px;
  }

  .hero__dog-print,
  .hero__cat-print {
    width: 59px;
    height: 61px;
  }

  .hero__back1,
  .hero__back2 {
    width: 345px;
    height: 361px;
  }

  .hero__dog {
    width: 241px;
    height: 344px;
  }

  .hero__cat {
    width: 343px;
    height: 343px;
  }
}
