@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

html {
  max-width: 1920px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  background-color: #2c2b2b;
}

body {
  padding: 58px 57px 120px 77px;
  background: linear-gradient(
      330.24deg,
      rgba(0, 0, 0, 0) 31.06%,
      #000000 108.93%
    ),
    url("../assets/images/hero-bg.png") no-repeat top,
    linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
}

.visually-hidden {
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.page-header {
  margin-bottom: 196px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #fff;
  text-decoration: none;
}

.page-logo--lg {
  margin-top: 13px;
  margin-left: 5px;
  font-size: 48px;
  line-height: 65px;
}

.page-logo--sm {
  font-size: 24px;
  line-height: 33px;
}

.page-nav {
  margin: auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list a {
  padding: 0 25px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
}

.search-form {
  position: relative;
}

.search-input {
  box-sizing: border-box;
  width: 105px;
  padding-left: 33px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  letter-spacing: -0.5px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.search-button {
  position: absolute;
  top: 5px;
  left: 0;
  padding: 0;
  background: none;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  text-decoration: none;
}

.search-button svg {
  opacity: 0.5;
}

.page-main {
  margin: auto;
  padding-left: 144px;
  padding-right: 164px;
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 731px;
}

.page-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
}

.page-description__header {
  margin: 0;
  margin-bottom: 125px;
  padding-left: 15px;
  font-size: 96px;
  line-height: 100px;
}

.page-description__header--thin {
  font-weight: 300;
  letter-spacing: -2px;
}

.page-description__text {
  position: relative;
  order: -1;
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 120px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 6px;
  color: #ffc178;
  text-transform: uppercase;
}

.page-description__text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: 72px;
  height: 2px;
  background-color: #ffc178;
}

.page-description__link {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
}

.social {
  position: absolute;
  top: 73px;
  left: -150px;
  align-self: flex-start;
}

.social__description {
  margin-bottom: 13px;
  writing-mode: vertical-lr;
  font-weight: 600;
  line-height: 25px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list--column {
  flex-direction: column-reverse;
  gap: 1.5rem;
}

.social-list--row {
  margin-top: 3px;
  margin-right: 41px;
}

.social-list--row .social-item:not(:last-child) {
  margin-right: 50px;
}

.social-link {
  display: block;
  line-height: 0;
}

.social-link__fb {
  width: 11px;
  height: 22px;
}

.social-link__tw {
  width: 20px;
  height: 20px;
}

.social-link__ins {
  width: 21px;
  height: 17px;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
}

.information img {
  max-width: 598px;
}

.information--reverse {
  flex-direction: row-reverse;
}

.description {
  width: 630px;
  padding-left: 40px;
}

.description__header {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 6px;
  color: #ffc178;
  text-transform: uppercase;
}

.description__header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 72px;
  height: 2px;
  background-color: #ffc178;
}

.description__intro {
  max-width: 555px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
}

.description__text {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 600;
}

.description__text--regular {
  font-weight: 400;
}

.description__link {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #fbd784;
  text-decoration: none;
}

.description__link span {
  margin-right: 10px;
}

.description__link svg {
  transform: rotate(270deg);
}

.description__link svg path {
  fill: #fbd784;
}

.hero {
  position: relative;
  margin-bottom: 225px;
}

.hero__header {
  padding-right: 100px;
}

.hero__header::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 72px;
  height: 2px;
  background-color: #ffc178;
}

.hero__image {
  display: block;
  width: 100%;
}

.hero__description {
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 934px;
  padding-left: 0;
}

.hero__intro {
  max-width: 705px;
  text-align: center;
}

.hero__text {
  width: 935px;
  margin-bottom: 38px;
  text-align: center;
}

.hero__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-77%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero__btn {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hero__btn:first-child {
  margin-left: 32px;
}

.hero__btn:last-child {
  margin-right: 22px;
}

.hero__btn:last-child svg {
  transform: rotate(180deg);
}

.page-footer {
  margin: auto;
  padding-left: 144px;
  padding-right: 164px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 55px;
  padding-bottom: 48px;
}

.wrapper:last-child {
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hr {
  position: relative;
}

.hr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
}

.start {
  display: flex;
  align-items: center;
}

.start p {
  margin: 0;
  margin-right: 55px;
  font-family: "DM Sans", "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 70px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "DM Sans", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #ffa343;
  border-radius: 8px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.btn--short {
  width: 70px;
  border-radius: 8px 8px 0 0;
}

.email {
  margin-right: 50px;
}

.email__description {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.email__form {
  position: relative;
  display: flex;
  align-items: center;
}

.email__input {
  width: 400px;
  height: 70px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  font-family: "DM Sans", "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: #fff;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px 8px 0 0;
}

.email__button {
  position: absolute;
  top: 0;
  right: 0;
}

.email__button svg path {
  fill: #000;
}

.footer-nav {
  display: flex;
  margin-top: 15px;
  padding-right: 106px;
}

.footer-nav__col:not(:last-child) {
  margin-right: 193px;
}

.footer-nav__header {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.2px;
  color: #ffd1a0;
}

.footer-nav__item {
  margin-bottom: 13px;
}

.footer-nav__item a {
  font-size: 19px;
  color: #ffffff;
  letter-spacing: -0.2px;
  text-decoration: none;
}

.docs {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.docs__item:first-child {
  margin-right: 90px;
}

.docs__item a {
  font-family: "DM Sans", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #fff;
  text-decoration: none;
}

.copyright {
  margin-top: 52px;
  margin-bottom: 0;
  font-weight: 600;
  opacity: 0.5;
}
