.hero {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 324px;
  height: 330px;
}

.hero__subtitle {
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 500;
  font-size: 22px;
}

.hero__title {
  max-width: 330px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--color-white);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

.hero__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.hero__price::before {
  display: block;
  width: 2px;
  height: 57px;
  order: 2;
  content: "";
  background-color: var(--main-bg-color);
}

.hero__newprice {
  order: 1;
  font-weight: 700;
  font-size: 44px;
  color: var(--color-white);
}

.hero__oldprice {
  order: 3;
  font-weight: 500;
  font-size: 31px;
  text-decoration: line-through;
  color: var(--color-white);
  opacity: 0.75;
}

.hero__btn {
  display: block;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  color: #de5150;
  background-color: var(--color-white);
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    max-width: 1150px;
  }

  .hero__info {
    align-items: self-start;
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  .hero__title {
    max-width: 520px;
    font-size: 96px;
  }

  .hero__img {
    width: 570px;
    height: 583px;
  }

  .hero__price {
    width: 300px;
  }

  .hero__btn {
    width: 190px;
    margin-left: 0;
  }
}
