.colour {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.slider__main-img {
  width: 266px;
  height: 250px;
  filter: drop-shadow(0px 21px 88px rgba(126, 118, 118, 0.2));
}

.slider__img {
  display: none;
}

.colour__header {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 31px;
  line-height: 140%;
}

.colour__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.btn-arrow {
  border: none;
  background-color: transparent;
}

.features__header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 31px;
  font-weight: 500;
  line-height: 44px;
  text-align: start;
}

.features__item {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.features__img {
  width: 96px;
  height: 96px;
  padding-right: 20px;
}

.features__subheader {
  font-size: 31px;
  font-weight: 500;
  line-height: 140%;
}

.feartures__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #180202;
  opacity: 0.7;
}

.feartures__info--mic {
  text-align: center;
}

.features__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-red);
}

.features__preview {
  display: block;
  width: 208px;
  height: 298px;
  margin-left: auto;
  margin-right: auto;
}

.features__battery {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .colour {
    max-width: 100%;
  }

  .slider__main-img {
    width: 454px;
    height: 424px;
  }

  .slider__img {
    width: 324px;
    height: 302px;
    display: inline;
    border: 0px;
  }

  .colour__slider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .colour__features {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .colour__header {
    margin-bottom: 70px;
    font-size: 44px;
    line-height: 130%;
  }

  .features__header {
    max-width: 485px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    font-size: 44px;
    font-weight: 700;
    text-align: start;
  }

  .features__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .features__preview {
    width: 332px;
    height: 474px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
