.page-form {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  width: 780px;
}

.form__wrapper {
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 50px 65px 55px 45px;
  border-radius: 20px;
  background-color: var(--color-main);
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__row:not(:last-child) {
  margin-bottom: 45px;
}

.form__row label {
  font-size: 32px;
  line-height: 48px;
}

.form__row input {
  width: 500px;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-black);
  box-sizing: border-box;
  border: 4px solid var(--color-orange);
  border-radius: 20px;
}

.form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
