/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 165px;
  padding-right: 165px;
  background: url("../assets/images/background-page-landing.png") no-repeat
    center right;
}

.btn {
  padding: 10px 15px;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-color: var(--color-main);
}

.hidden {
  display: none;
}
