/* your styles here for mobile view by default */
.product-best__image {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.product-best__header {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #383838;
}

.product-best__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #383838;
}

.product-best__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.product-best__tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 0px 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #383838;
  background: rgba(180, 176, 190, 0.2);
  border-radius: 70px;
}

.product-best__tag:not(:last-child) {
  margin-right: 10px;
}

.btn {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  gap: 10px;
  width: 320px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background: #f5a3b7;
  border-radius: 4px;
  text-decoration: none;
}

.product-best__explore {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #697586;
}

@media screen and (min-width: 768px) {
  /* your styles here for desktop view */

  .product-best {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-best--reverse {
    flex-direction: row-reverse;
  }

  .product-best__image {
    width: 598px;
    margin-bottom: 0;
  }

  .product-best__wrapper {
    width: 600px;
  }

  .product-best__header {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }

  .product-best__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  .product-best__links {
    display: flex;
    align-items: center;
  }

  .btn {
    width: 245px;
    margin: 0 30px 0 0;
  }
}
