.hero-container {
  background: linear-gradient(74.79deg, #ff9292 -7.33%, #de5150 90.21%);
  padding: 20px 20px 36px 20px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 35px;
  }
}
