.page-footer {
  margin-top: auto;
  padding-bottom: 20px;
}

.page-footer__list {
  display: flex;
  padding-top: 0;
  padding-left: 0;
  list-style: none;
}

.page-footer__item:not(:last-child) {
  margin-right: 80px;
}

.page-footer__item a {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  text-decoration: none;
}
