.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 114px;
  background-color: #fff4f4;
  border-radius: 20px;
}

.subscribe__header {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

.subscribe__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe__input {
  width: 100%;
  padding: 15px 30px 15px 30px;
  margin-top: 30px;
  box-sizing: border-box;
  border-style: none;
  background-color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgb(0, 0, 0, 0.3);
  border-radius: 73px;
}

.subscribe__btn {
  width: 100%;
  padding: 15px 30px 15px 30px;
  margin-top: 42px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-style: none;
  background-color: var(--color-red);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .subscribe {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 105px;
    padding-right: 105px;
  }

  .subscribe__description {
    margin-bottom: 35px;
  }

  .subscribe__form {
    position: relative;
    display: block;
    box-sizing: border-box;
  }

  .subscribe__input {
    margin: 0;
  }

  .subscribe__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    margin: 0;
    cursor: pointer;
  }
}
