.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px 60px 40px;
  margin-top: 50px;
  background-color: #e86564;
}

.footer__nav-item a {
  font-weight: 500;
  font-size: 22px;
  color: var(--color-white);
  text-decoration: none;
}

.social {
  list-style: none;
}

.social__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.social__icon {
  align-content: baseline;
  width: 20px;
  height: 20px;
}

.footer__nav {
  display: none;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding-left: 240px;
    padding-right: 240px;
  }

  .footer__nav {
    display: flex;
    width: 250px;
    justify-content: space-between;
    list-style-type: none;
  }
}
