.page-header,
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav__list {
  display: none;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .page-nav__list {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .page-nav__link {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-white);
  }

  .page-nav__item {
    position: relative;
  }

  .page-nav__item:not(:last-of-type)::after {
    position: absolute;
    top: 0;
    right: -90%;
    display: block;
    width: 2px;
    height: 48px;
    content: "";
    background-color: var(--main-bg-color);
    opacity: 0.5;
  }
}
